<div class="container">

    <section>
      <a class="waves-effect waves-light btn deep-purple lighten-1" (click)="filterBy('all')"><i class="material-icons left">language</i>All Countries</a>
      <a class="waves-effect waves-light btn deep-purple lighten-1" (click)="filterBy('europe')"><i class="material-icons left">location_on</i>European Countries</a>
      <a class="waves-effect waves-light btn deep-purple lighten-1" (click)="filterBy('pop')"><i class="material-icons left">equalizer</i>Population > 1M</a>
    </section>

  <table>
    <thead>
      <tr>
        <th><a href="#" (click)="sortType('name')">Name</a></th>
        <th>Country Code</th>
        <th>Capital</th>
        <th>Area (km2)</th>
        <th><a href="#" (click)="sortType('pop')">Population</a></th>
        <th>Continent</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let country of countries">
        <td>{{ country.countryName}}</td>
        <td>{{ country.countryCode }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.areaInSqKm}}</td>
        <td>{{ country.population }}</td>
        <td>{{ country.continent }}</td>
      </tr>
    </tbody>
  </table>
</div>